/* Definição das variáveis de cores */
:root {
  --color1: #ebe7a7;
  /* Amarelo claro */
  --color2: #a7ebc9;
  /* Verde claro */
  --color3: #78b395;
  /* Verde médio */
  --color4: #917c67;
  /* Marrom claro */
  --color5: #5e5953;
  /* Cinza escuro */
  --color6: #ececec;
  /* Cinza claro */

  --primary-light-color: var(--color1);
  /* Usando cinza claro como primário */
  /* Cores para elementos específicos */
  --primary-button-color: var(--color3);
  /* Verde médio para botões principais */
  --primary-button-hover-color: #69a183;
  /* Versão mais escura do verde médio para hover */
  --background-color: var(--color6);
  /* Amarelo claro para fundo geral */
  --card-background-color: white;
  /* Branco para cards */
  --modal-background-color: white;
  /* Branco para modais */
  --text-color: var(--color5);
  /* Cinza escuro para texto geral */
  --border-color: #ddd;
  /* Cinza claro para bordas */
  --menu-background-color: var(--color2);
  /* Verde claro para menus */

}

/* Card */
.card-body {
  position: relative;
  min-height: 100px;
  background-color: var(--card-background-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--modal-background-color);
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

/* Formulário */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: var(--text-color);
  /* Adiciona cor do texto aos inputs e textareas */
}

.form-group textarea {
  height: 100px;
}

/* Menu */
.menu {
  background-color: var(--menu-background-color);
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}